{% extends 'MyAppBlogBundle::layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}

<h1>Liste des articles</h1>

<table>
{% for a in articles %}
	<tr>
<td>{{ a.title }}</td>
<td>{{ a.content }}</td>
<td><a href="{{ path('myapp_article_modifier', { 'id': a.id }) }}">Modifier</a></td>
<td><a href="{{ path('myapp_article_supprimer', { 'id': a.id }) }}">Supprimer</a></td>
</tr>
{% else %}
	<tr><td>Aucun article n’a été trouvé.</td></tr>
{% endfor %}
</table>

<p><a href="{{ path('myapp_article_ajouter') }}">Ajouter un article</a><p>

{% endblock %}